.crystals{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.crystal{
    border: 1px solid palevioletred;
    height: 200px;
    width: 200px;
    border-radius: 4px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
    transition: box-shadow 6s;
}

.crystal:hover{
    box-shadow: 15px 15px 15px rgba(0, 0, 0, 0.5);
    padding: 5px;
    cursor: pointer;
    transition: box-shadow 4s; 
}

img{
    width: 50px;
}

h1{
    font-stretch: expanded;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-transform: uppercase; 
    font-size: 85px;
    font-style: italic;

}

body{
    color: whitesmoke;
    height: 100%;
}




p{
    font-size: 30px;
}

